PortalCV/web/WEB-INF/wsdl/10.200.170.3_6979/webServiceSPR.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.integration.spr.sm.policyserver.callistech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.integration.spr.sm.policyserver.callistech.com/" name="webServiceSPR">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.integration.spr.sm.policyserver.callistech.com/" schemaLocation="http://10.200.170.3:6979/webServiceSPR?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getSubscriber">
<part name="parameters" element="tns:getSubscriber"></part>
</message>
<message name="getSubscriberResponse">
<part name="parameters" element="tns:getSubscriberResponse"></part>
</message>
<message name="modifySubscriber">
<part name="parameters" element="tns:modifySubscriber"></part>
</message>
<message name="modifySubscriberResponse">
<part name="parameters" element="tns:modifySubscriberResponse"></part>
</message>
<message name="createSubscriber">
<part name="parameters" element="tns:createSubscriber"></part>
</message>
<message name="createSubscriberResponse">
<part name="parameters" element="tns:createSubscriberResponse"></part>
</message>
<message name="subscriptionBoDService">
<part name="parameters" element="tns:subscriptionBoDService"></part>
</message>
<message name="subscriptionBoDServiceResponse">
<part name="parameters" element="tns:subscriptionBoDServiceResponse"></part>
</message>
<message name="unSubscriptionBoDService">
<part name="parameters" element="tns:unSubscriptionBoDService"></part>
</message>
<message name="unSubscriptionBoDServiceResponse">
<part name="parameters" element="tns:unSubscriptionBoDServiceResponse"></part>
</message>
<message name="deleteSubscriber">
<part name="parameters" element="tns:deleteSubscriber"></part>
</message>
<message name="deleteSubscriberResponse">
<part name="parameters" element="tns:deleteSubscriberResponse"></part>
</message>
<message name="deleteSubscribers">
<part name="parameters" element="tns:deleteSubscribers"></part>
</message>
<message name="deleteSubscribersResponse">
<part name="parameters" element="tns:deleteSubscribersResponse"></part>
</message>
<message name="createOrModifySubscribers">
<part name="parameters" element="tns:createOrModifySubscribers"></part>
</message>
<message name="createOrModifySubscribersResponse">
<part name="parameters" element="tns:createOrModifySubscribersResponse"></part>
</message>
<message name="createOrModifySubscriber">
<part name="parameters" element="tns:createOrModifySubscriber"></part>
</message>
<message name="createOrModifySubscriberResponse">
<part name="parameters" element="tns:createOrModifySubscriberResponse"></part>
</message>
<message name="getSubscribersCountPerSite">
<part name="parameters" element="tns:getSubscribersCountPerSite"></part>
</message>
<message name="getSubscribersCountPerSiteResponse">
<part name="parameters" element="tns:getSubscribersCountPerSiteResponse"></part>
</message>
<message name="getAllSubscribersIdsPerSite">
<part name="parameters" element="tns:getAllSubscribersIdsPerSite"></part>
</message>
<message name="getAllSubscribersIdsPerSiteResponse">
<part name="parameters" element="tns:getAllSubscribersIdsPerSiteResponse"></part>
</message>
<message name="getSubscribersPerSite">
<part name="parameters" element="tns:getSubscribersPerSite"></part>
</message>
<message name="getSubscribersPerSiteResponse">
<part name="parameters" element="tns:getSubscribersPerSiteResponse"></part>
</message>
<message name="getAllSubscribersIds">
<part name="parameters" element="tns:getAllSubscribersIds"></part>
</message>
<message name="getAllSubscribersIdsResponse">
<part name="parameters" element="tns:getAllSubscribersIdsResponse"></part>
</message>
<message name="createOrModifySubscriberLogin">
<part name="parameters" element="tns:createOrModifySubscriberLogin"></part>
</message>
<message name="createOrModifySubscriberLoginResponse">
<part name="parameters" element="tns:createOrModifySubscriberLoginResponse"></part>
</message>
<message name="enabledSubscriptionBoDService">
<part name="parameters" element="tns:enabledSubscriptionBoDService"></part>
</message>
<message name="enabledSubscriptionBoDServiceResponse">
<part name="parameters" element="tns:enabledSubscriptionBoDServiceResponse"></part>
</message>
<message name="disableSubscriptionBoDService">
<part name="parameters" element="tns:disableSubscriptionBoDService"></part>
</message>
<message name="disableSubscriptionBoDServiceResponse">
<part name="parameters" element="tns:disableSubscriptionBoDServiceResponse"></part>
</message>
<message name="subscriptionBoDServiceForTier">
<part name="parameters" element="tns:subscriptionBoDServiceForTier"></part>
</message>
<message name="subscriptionBoDServiceForTierResponse">
<part name="parameters" element="tns:subscriptionBoDServiceForTierResponse"></part>
</message>
<message name="unSubscriptionBoDServiceTier">
<part name="parameters" element="tns:unSubscriptionBoDServiceTier"></part>
</message>
<message name="unSubscriptionBoDServiceTierResponse">
<part name="parameters" element="tns:unSubscriptionBoDServiceTierResponse"></part>
</message>
<message name="subscriptionBoDServiceForScabbPolicyId">
<part name="parameters" element="tns:subscriptionBoDServiceForScabbPolicyId"></part>
</message>
<message name="subscriptionBoDServiceForScabbPolicyIdResponse">
<part name="parameters" element="tns:subscriptionBoDServiceForScabbPolicyIdResponse"></part>
</message>
<message name="unSubscriptionBoDServiceScabbPolicyId">
<part name="parameters" element="tns:unSubscriptionBoDServiceScabbPolicyId"></part>
</message>
<message name="unSubscriptionBoDServiceScabbPolicyIdResponse">
<part name="parameters" element="tns:unSubscriptionBoDServiceScabbPolicyIdResponse"></part>
</message>
<message name="subscriptionBoDServicePerSiteId">
<part name="parameters" element="tns:subscriptionBoDServicePerSiteId"></part>
</message>
<message name="subscriptionBoDServicePerSiteIdResponse">
<part name="parameters" element="tns:subscriptionBoDServicePerSiteIdResponse"></part>
</message>
<message name="unSubscriptionBoDServicePerSiteId">
<part name="parameters" element="tns:unSubscriptionBoDServicePerSiteId"></part>
</message>
<message name="unSubscriptionBoDServicePerSiteIdResponse">
<part name="parameters" element="tns:unSubscriptionBoDServicePerSiteIdResponse"></part>
</message>
<message name="subscriptionBoDServicePerCmtsId">
<part name="parameters" element="tns:subscriptionBoDServicePerCmtsId"></part>
</message>
<message name="subscriptionBoDServicePerCmtsIdResponse">
<part name="parameters" element="tns:subscriptionBoDServicePerCmtsIdResponse"></part>
</message>
<message name="unSubscriptionBoDServicePerCmtsId">
<part name="parameters" element="tns:unSubscriptionBoDServicePerCmtsId"></part>
</message>
<message name="unSubscriptionBoDServicePerCmtsIdResponse">
<part name="parameters" element="tns:unSubscriptionBoDServicePerCmtsIdResponse"></part>
</message>
<message name="getSubscribersCount">
<part name="parameters" element="tns:getSubscribersCount"></part>
</message>
<message name="getSubscribersCountResponse">
<part name="parameters" element="tns:getSubscribersCountResponse"></part>
</message>
<message name="subscriptionDynamicService">
<part name="parameters" element="tns:subscriptionDynamicService"></part>
</message>
<message name="subscriptionDynamicServiceResponse">
<part name="parameters" element="tns:subscriptionDynamicServiceResponse"></part>
</message>
<message name="unSubscriptionDynamicService">
<part name="parameters" element="tns:unSubscriptionDynamicService"></part>
</message>
<message name="unSubscriptionDynamicServiceResponse">
<part name="parameters" element="tns:unSubscriptionDynamicServiceResponse"></part>
</message>
<message name="enabledSubscriptionDynamicService">
<part name="parameters" element="tns:enabledSubscriptionDynamicService"></part>
</message>
<message name="enabledSubscriptionDynamicServiceResponse">
<part name="parameters" element="tns:enabledSubscriptionDynamicServiceResponse"></part>
</message>
<message name="disableSubscriptionDynamicService">
<part name="parameters" element="tns:disableSubscriptionDynamicService"></part>
</message>
<message name="disableSubscriptionDynamicServiceResponse">
<part name="parameters" element="tns:disableSubscriptionDynamicServiceResponse"></part>
</message>
<portType name="webServiceSPR">
<operation name="getSubscriber">
<input message="tns:getSubscriber"></input>
<output message="tns:getSubscriberResponse"></output>
</operation>
<operation name="modifySubscriber">
<input message="tns:modifySubscriber"></input>
<output message="tns:modifySubscriberResponse"></output>
</operation>
<operation name="createSubscriber">
<input message="tns:createSubscriber"></input>
<output message="tns:createSubscriberResponse"></output>
</operation>
<operation name="subscriptionBoDService">
<input message="tns:subscriptionBoDService"></input>
<output message="tns:subscriptionBoDServiceResponse"></output>
</operation>
<operation name="unSubscriptionBoDService">
<input message="tns:unSubscriptionBoDService"></input>
<output message="tns:unSubscriptionBoDServiceResponse"></output>
</operation>
<operation name="deleteSubscriber">
<input message="tns:deleteSubscriber"></input>
<output message="tns:deleteSubscriberResponse"></output>
</operation>
<operation name="deleteSubscribers">
<input message="tns:deleteSubscribers"></input>
<output message="tns:deleteSubscribersResponse"></output>
</operation>
<operation name="createOrModifySubscribers">
<input message="tns:createOrModifySubscribers"></input>
<output message="tns:createOrModifySubscribersResponse"></output>
</operation>
<operation name="createOrModifySubscriber">
<input message="tns:createOrModifySubscriber"></input>
<output message="tns:createOrModifySubscriberResponse"></output>
</operation>
<operation name="getSubscribersCountPerSite">
<input message="tns:getSubscribersCountPerSite"></input>
<output message="tns:getSubscribersCountPerSiteResponse"></output>
</operation>
<operation name="getAllSubscribersIdsPerSite">
<input message="tns:getAllSubscribersIdsPerSite"></input>
<output message="tns:getAllSubscribersIdsPerSiteResponse"></output>
</operation>
<operation name="getSubscribersPerSite">
<input message="tns:getSubscribersPerSite"></input>
<output message="tns:getSubscribersPerSiteResponse"></output>
</operation>
<operation name="getAllSubscribersIds">
<input message="tns:getAllSubscribersIds"></input>
<output message="tns:getAllSubscribersIdsResponse"></output>
</operation>
<operation name="createOrModifySubscriberLogin">
<input message="tns:createOrModifySubscriberLogin"></input>
<output message="tns:createOrModifySubscriberLoginResponse"></output>
</operation>
<operation name="enabledSubscriptionBoDService">
<input message="tns:enabledSubscriptionBoDService"></input>
<output message="tns:enabledSubscriptionBoDServiceResponse"></output>
</operation>
<operation name="disableSubscriptionBoDService">
<input message="tns:disableSubscriptionBoDService"></input>
<output message="tns:disableSubscriptionBoDServiceResponse"></output>
</operation>
<operation name="subscriptionBoDServiceForTier">
<input message="tns:subscriptionBoDServiceForTier"></input>
<output message="tns:subscriptionBoDServiceForTierResponse"></output>
</operation>
<operation name="unSubscriptionBoDServiceTier">
<input message="tns:unSubscriptionBoDServiceTier"></input>
<output message="tns:unSubscriptionBoDServiceTierResponse"></output>
</operation>
<operation name="subscriptionBoDServiceForScabbPolicyId">
<input message="tns:subscriptionBoDServiceForScabbPolicyId"></input>
<output message="tns:subscriptionBoDServiceForScabbPolicyIdResponse"></output>
</operation>
<operation name="unSubscriptionBoDServiceScabbPolicyId">
<input message="tns:unSubscriptionBoDServiceScabbPolicyId"></input>
<output message="tns:unSubscriptionBoDServiceScabbPolicyIdResponse"></output>
</operation>
<operation name="subscriptionBoDServicePerSiteId">
<input message="tns:subscriptionBoDServicePerSiteId"></input>
<output message="tns:subscriptionBoDServicePerSiteIdResponse"></output>
</operation>
<operation name="unSubscriptionBoDServicePerSiteId">
<input message="tns:unSubscriptionBoDServicePerSiteId"></input>
<output message="tns:unSubscriptionBoDServicePerSiteIdResponse"></output>
</operation>
<operation name="subscriptionBoDServicePerCmtsId">
<input message="tns:subscriptionBoDServicePerCmtsId"></input>
<output message="tns:subscriptionBoDServicePerCmtsIdResponse"></output>
</operation>
<operation name="unSubscriptionBoDServicePerCmtsId">
<input message="tns:unSubscriptionBoDServicePerCmtsId"></input>
<output message="tns:unSubscriptionBoDServicePerCmtsIdResponse"></output>
</operation>
<operation name="getSubscribersCount">
<input message="tns:getSubscribersCount"></input>
<output message="tns:getSubscribersCountResponse"></output>
</operation>
<operation name="subscriptionDynamicService">
<input message="tns:subscriptionDynamicService"></input>
<output message="tns:subscriptionDynamicServiceResponse"></output>
</operation>
<operation name="unSubscriptionDynamicService">
<input message="tns:unSubscriptionDynamicService"></input>
<output message="tns:unSubscriptionDynamicServiceResponse"></output>
</operation>
<operation name="enabledSubscriptionDynamicService">
<input message="tns:enabledSubscriptionDynamicService"></input>
<output message="tns:enabledSubscriptionDynamicServiceResponse"></output>
</operation>
<operation name="disableSubscriptionDynamicService">
<input message="tns:disableSubscriptionDynamicService"></input>
<output message="tns:disableSubscriptionDynamicServiceResponse"></output>
</operation>
</portType>
<binding name="webServiceSPRPortBinding" type="tns:webServiceSPR">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getSubscriber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modifySubscriber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createSubscriber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subscriptionBoDService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unSubscriptionBoDService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteSubscriber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteSubscribers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createOrModifySubscribers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createOrModifySubscriber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSubscribersCountPerSite">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllSubscribersIdsPerSite">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSubscribersPerSite">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllSubscribersIds">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createOrModifySubscriberLogin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="enabledSubscriptionBoDService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="disableSubscriptionBoDService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subscriptionBoDServiceForTier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unSubscriptionBoDServiceTier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subscriptionBoDServiceForScabbPolicyId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unSubscriptionBoDServiceScabbPolicyId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subscriptionBoDServicePerSiteId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unSubscriptionBoDServicePerSiteId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subscriptionBoDServicePerCmtsId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unSubscriptionBoDServicePerCmtsId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSubscribersCount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subscriptionDynamicService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unSubscriptionDynamicService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="enabledSubscriptionDynamicService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="disableSubscriptionDynamicService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="webServiceSPR">
<port name="webServiceSPRPort" binding="tns:webServiceSPRPortBinding">
<soap:address location="http://10.200.170.3:6979/webServiceSPR"></soap:address>
</port>
</service>
</definitions>