trunk/PortalCV/web/WEB-INF/wsdl/10.0.0.39_6979/webServiceSPR.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://webservice.integration.spr.sm.policyserver.callistech.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.integration.spr.sm.policyserver.callistech.com/">

<xs:element name="createOrModifySubscriber" type="tns:createOrModifySubscriber"></xs:element>

<xs:element name="createOrModifySubscriberLogin" type="tns:createOrModifySubscriberLogin"></xs:element>

<xs:element name="createOrModifySubscriberLoginResponse" type="tns:createOrModifySubscriberLoginResponse"></xs:element>

<xs:element name="createOrModifySubscriberResponse" type="tns:createOrModifySubscriberResponse"></xs:element>

<xs:element name="createOrModifySubscribers" type="tns:createOrModifySubscribers"></xs:element>

<xs:element name="createOrModifySubscribersResponse" type="tns:createOrModifySubscribersResponse"></xs:element>

<xs:element name="createSubscriber" type="tns:createSubscriber"></xs:element>

<xs:element name="createSubscriberResponse" type="tns:createSubscriberResponse"></xs:element>

<xs:element name="deleteSubscriber" type="tns:deleteSubscriber"></xs:element>

<xs:element name="deleteSubscriberResponse" type="tns:deleteSubscriberResponse"></xs:element>

<xs:element name="deleteSubscribers" type="tns:deleteSubscribers"></xs:element>

<xs:element name="deleteSubscribersResponse" type="tns:deleteSubscribersResponse"></xs:element>

<xs:element name="disableSubscriptionBoDService" type="tns:disableSubscriptionBoDService"></xs:element>

<xs:element name="disableSubscriptionBoDServiceResponse" type="tns:disableSubscriptionBoDServiceResponse"></xs:element>

<xs:element name="disableSubscriptionDynamicService" type="tns:disableSubscriptionDynamicService"></xs:element>

<xs:element name="disableSubscriptionDynamicServiceResponse" type="tns:disableSubscriptionDynamicServiceResponse"></xs:element>

<xs:element name="enabledSubscriptionBoDService" type="tns:enabledSubscriptionBoDService"></xs:element>

<xs:element name="enabledSubscriptionBoDServiceResponse" type="tns:enabledSubscriptionBoDServiceResponse"></xs:element>

<xs:element name="enabledSubscriptionDynamicService" type="tns:enabledSubscriptionDynamicService"></xs:element>

<xs:element name="enabledSubscriptionDynamicServiceResponse" type="tns:enabledSubscriptionDynamicServiceResponse"></xs:element>

<xs:element name="getAllSubscribersIds" type="tns:getAllSubscribersIds"></xs:element>

<xs:element name="getAllSubscribersIdsPerSite" type="tns:getAllSubscribersIdsPerSite"></xs:element>

<xs:element name="getAllSubscribersIdsPerSiteResponse" type="tns:getAllSubscribersIdsPerSiteResponse"></xs:element>

<xs:element name="getAllSubscribersIdsResponse" type="tns:getAllSubscribersIdsResponse"></xs:element>

<xs:element name="getSubscriber" type="tns:getSubscriber"></xs:element>

<xs:element name="getSubscriberResponse" type="tns:getSubscriberResponse"></xs:element>

<xs:element name="getSubscribersCount" type="tns:getSubscribersCount"></xs:element>

<xs:element name="getSubscribersCountPerSite" type="tns:getSubscribersCountPerSite"></xs:element>

<xs:element name="getSubscribersCountPerSiteResponse" type="tns:getSubscribersCountPerSiteResponse"></xs:element>

<xs:element name="getSubscribersCountResponse" type="tns:getSubscribersCountResponse"></xs:element>

<xs:element name="getSubscribersPerSite" type="tns:getSubscribersPerSite"></xs:element>

<xs:element name="getSubscribersPerSiteResponse" type="tns:getSubscribersPerSiteResponse"></xs:element>

<xs:element name="modifySubscriber" type="tns:modifySubscriber"></xs:element>

<xs:element name="modifySubscriberResponse" type="tns:modifySubscriberResponse"></xs:element>

<xs:element name="portalSubscriberLogin" type="tns:portalSubscriberLogin"></xs:element>

<xs:element name="portalSubscriberLoginResponse" type="tns:portalSubscriberLoginResponse"></xs:element>

<xs:element name="subscriptionBoDService" type="tns:subscriptionBoDService"></xs:element>

<xs:element name="subscriptionBoDServiceForScabbPolicyId" type="tns:subscriptionBoDServiceForScabbPolicyId"></xs:element>

<xs:element name="subscriptionBoDServiceForScabbPolicyIdResponse" type="tns:subscriptionBoDServiceForScabbPolicyIdResponse"></xs:element>

<xs:element name="subscriptionBoDServiceForTier" type="tns:subscriptionBoDServiceForTier"></xs:element>

<xs:element name="subscriptionBoDServiceForTierResponse" type="tns:subscriptionBoDServiceForTierResponse"></xs:element>

<xs:element name="subscriptionBoDServicePerCmtsId" type="tns:subscriptionBoDServicePerCmtsId"></xs:element>

<xs:element name="subscriptionBoDServicePerCmtsIdResponse" type="tns:subscriptionBoDServicePerCmtsIdResponse"></xs:element>

<xs:element name="subscriptionBoDServicePerSiteId" type="tns:subscriptionBoDServicePerSiteId"></xs:element>

<xs:element name="subscriptionBoDServicePerSiteIdResponse" type="tns:subscriptionBoDServicePerSiteIdResponse"></xs:element>

<xs:element name="subscriptionBoDServiceResponse" type="tns:subscriptionBoDServiceResponse"></xs:element>

<xs:element name="subscriptionDynamicService" type="tns:subscriptionDynamicService"></xs:element>

<xs:element name="subscriptionDynamicServiceResponse" type="tns:subscriptionDynamicServiceResponse"></xs:element>

<xs:element name="unSubscriptionBoDService" type="tns:unSubscriptionBoDService"></xs:element>

<xs:element name="unSubscriptionBoDServicePerCmtsId" type="tns:unSubscriptionBoDServicePerCmtsId"></xs:element>

<xs:element name="unSubscriptionBoDServicePerCmtsIdResponse" type="tns:unSubscriptionBoDServicePerCmtsIdResponse"></xs:element>

<xs:element name="unSubscriptionBoDServicePerSiteId" type="tns:unSubscriptionBoDServicePerSiteId"></xs:element>

<xs:element name="unSubscriptionBoDServicePerSiteIdResponse" type="tns:unSubscriptionBoDServicePerSiteIdResponse"></xs:element>

<xs:element name="unSubscriptionBoDServiceResponse" type="tns:unSubscriptionBoDServiceResponse"></xs:element>

<xs:element name="unSubscriptionBoDServiceScabbPolicyId" type="tns:unSubscriptionBoDServiceScabbPolicyId"></xs:element>

<xs:element name="unSubscriptionBoDServiceScabbPolicyIdResponse" type="tns:unSubscriptionBoDServiceScabbPolicyIdResponse"></xs:element>

<xs:element name="unSubscriptionBoDServiceTier" type="tns:unSubscriptionBoDServiceTier"></xs:element>

<xs:element name="unSubscriptionBoDServiceTierResponse" type="tns:unSubscriptionBoDServiceTierResponse"></xs:element>

<xs:element name="unSubscriptionDynamicService" type="tns:unSubscriptionDynamicService"></xs:element>

<xs:element name="unSubscriptionDynamicServiceResponse" type="tns:unSubscriptionDynamicServiceResponse"></xs:element>

<xs:complexType name="subscriptionDynamicService">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionDynamicServiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseDynamicServiceOperation" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseDynamicServiceOperation">
<xs:sequence>
<xs:element name="dynamicServiceDescriptor" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="errorCode" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="response" type="xs:anyType" minOccurs="0"></xs:element>
<xs:element name="subscriberId" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrModifySubscribers">
<xs:sequence>
<xs:element name="arg0" type="tns:subscriberWSBulk" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriberWSBulk">
<xs:sequence>
<xs:element name="subscribers" type="tns:subscriberWS" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriberWS">
<xs:sequence>
<xs:element name="creationDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="customProperties" type="tns:customPropertyWS" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="globalSubscriberId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="technologies" type="tns:subscriberTechnologyWS" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customPropertyWS">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriberTechnologyWS">
<xs:sequence>
<xs:element name="enabled" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="ipAddresses" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="policyCombinations" type="tns:policyCombinationWS" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="subscriberTechologyId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="technology" type="tns:policyTechnologyVO" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="policyCombinationWS">
<xs:sequence>
<xs:element name="bodServices" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="monitor" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="policyDomainId" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="scabbPolicyId" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="siteId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="subscriberDomain" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="technologySpecificPolicyId" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="tierId" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="vlinkDownStream" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="vlinkUpStream" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrModifySubscribersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="disableSubscriptionDynamicService">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="disableSubscriptionDynamicServiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseDynamicServiceOperation" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enabledSubscriptionDynamicService">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enabledSubscriptionDynamicServiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseDynamicServiceOperation" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDServiceScabbPolicyId">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDServiceScabbPolicyIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrModifySubscriber">
<xs:sequence>
<xs:element name="arg0" type="tns:subscriberWS" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrModifySubscriberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDServicePerSiteId">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDServicePerSiteIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDService">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDServicePerSiteId">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDServicePerSiteIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionDynamicService">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionDynamicServiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseDynamicServiceOperation" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDServiceForTier">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDServiceForTierResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSubscriber">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSubscriberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="disableSubscriptionBoDService">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="disableSubscriptionBoDServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscribersPerSite">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="arg1" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscribersPerSiteResponse">
<xs:sequence>
<xs:element name="return" type="tns:subscriberWS" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSubscribers">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSubscribersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSubscriber">
<xs:sequence>
<xs:element name="arg0" type="tns:subscriberWS" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSubscriberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscribersCountPerSite">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscribersCountPerSiteResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDServiceTier">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDServiceTierResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrModifySubscriberLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrModifySubscriberLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDServiceForScabbPolicyId">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDServiceForScabbPolicyIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscribersCount">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscribersCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDServicePerCmtsId">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unSubscriptionBoDServicePerCmtsIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscriber">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscriberResponse">
<xs:sequence>
<xs:element name="return" type="tns:subscriberWS" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="portalSubscriberLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="tns:propertiesWs" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="propertiesWs">
<xs:sequence>
<xs:element name="properties">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="portalSubscriberLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSubscribersIds">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSubscribersIdsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDServicePerCmtsId">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDServicePerCmtsIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSubscribersIdsPerSite">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="arg1" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSubscribersIdsPerSiteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifySubscriber">
<xs:sequence>
<xs:element name="arg0" type="tns:subscriberWS" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifySubscriberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enabledSubscriptionBoDService">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enabledSubscriptionBoDServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDService">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionBoDServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="policyTechnologyVO">
<xs:restriction base="xs:string">
<xs:enumeration value="cable"></xs:enumeration>
<xs:enumeration value="mobile"></xs:enumeration>
<xs:enumeration value="dsl"></xs:enumeration>
<xs:enumeration value="wimax"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>