PortalCV/web/WEB-INF/wsdl/10.200.170.3_6969/webServiceApplicationFunction.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.webservice.integration.af.policyserver.callistech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.webservice.integration.af.policyserver.callistech.com/" name="webServiceApplicationFunction">
<types>
<xsd:schema>
<xsd:import namespace="http://server.webservice.integration.af.policyserver.callistech.com/" schemaLocation="http://10.200.170.3:6969/webServiceApplicationFunction?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="startSession">
<part name="parameters" element="tns:startSession"></part>
</message>
<message name="startSessionResponse">
<part name="parameters" element="tns:startSessionResponse"></part>
</message>
<message name="stopSession">
<part name="parameters" element="tns:stopSession"></part>
</message>
<message name="stopSessionResponse">
<part name="parameters" element="tns:stopSessionResponse"></part>
</message>
<message name="pauseSession">
<part name="parameters" element="tns:pauseSession"></part>
</message>
<message name="pauseSessionResponse">
<part name="parameters" element="tns:pauseSessionResponse"></part>
</message>
<message name="resumeSession">
<part name="parameters" element="tns:resumeSession"></part>
</message>
<message name="resumeSessionResponse">
<part name="parameters" element="tns:resumeSessionResponse"></part>
</message>
<message name="dynamicSessionQuery">
<part name="parameters" element="tns:dynamicSessionQuery"></part>
</message>
<message name="dynamicSessionQueryResponse">
<part name="parameters" element="tns:dynamicSessionQueryResponse"></part>
</message>
<message name="dynamicSessionQueryHistory">
<part name="parameters" element="tns:dynamicSessionQueryHistory"></part>
</message>
<message name="dynamicSessionQueryHistoryResponse">
<part name="parameters" element="tns:dynamicSessionQueryHistoryResponse"></part>
</message>
<message name="startSessionDynamicServiceDescriptor">
<part name="parameters" element="tns:startSessionDynamicServiceDescriptor"></part>
</message>
<message name="startSessionDynamicServiceDescriptorResponse">
<part name="parameters" element="tns:startSessionDynamicServiceDescriptorResponse"></part>
</message>
<message name="startSessionForBoDService">
<part name="parameters" element="tns:startSessionForBoDService"></part>
</message>
<message name="startSessionForBoDServiceResponse">
<part name="parameters" element="tns:startSessionForBoDServiceResponse"></part>
</message>
<message name="startSessionForCmtsId">
<part name="parameters" element="tns:startSessionForCmtsId"></part>
</message>
<message name="startSessionForCmtsIdResponse">
<part name="parameters" element="tns:startSessionForCmtsIdResponse"></part>
</message>
<message name="pauseSessionDynamicServiceDescriptor">
<part name="parameters" element="tns:pauseSessionDynamicServiceDescriptor"></part>
</message>
<message name="pauseSessionDynamicServiceDescriptorResponse">
<part name="parameters" element="tns:pauseSessionDynamicServiceDescriptorResponse"></part>
</message>
<message name="resumeSessionDynamicServiceDescriptor">
<part name="parameters" element="tns:resumeSessionDynamicServiceDescriptor"></part>
</message>
<message name="resumeSessionDynamicServiceDescriptorResponse">
<part name="parameters" element="tns:resumeSessionDynamicServiceDescriptorResponse"></part>
</message>
<message name="stopSessionDynamicServiceDescriptor">
<part name="parameters" element="tns:stopSessionDynamicServiceDescriptor"></part>
</message>
<message name="stopSessionDynamicServiceDescriptorResponse">
<part name="parameters" element="tns:stopSessionDynamicServiceDescriptorResponse"></part>
</message>
<message name="stopSessionForBoDService">
<part name="parameters" element="tns:stopSessionForBoDService"></part>
</message>
<message name="stopSessionForBoDServiceResponse">
<part name="parameters" element="tns:stopSessionForBoDServiceResponse"></part>
</message>
<message name="stopSessionForCmtsId">
<part name="parameters" element="tns:stopSessionForCmtsId"></part>
</message>
<message name="stopSessionForCmtsIdResponse">
<part name="parameters" element="tns:stopSessionForCmtsIdResponse"></part>
</message>
<message name="dynamicSessionQueryDynamicServiceDescriptor">
<part name="parameters" element="tns:dynamicSessionQueryDynamicServiceDescriptor"></part>
</message>
<message name="dynamicSessionQueryDynamicServiceDescriptorResponse">
<part name="parameters" element="tns:dynamicSessionQueryDynamicServiceDescriptorResponse"></part>
</message>
<message name="dynamicSessionQueryHistoryDynamicServiceDescriptor">
<part name="parameters" element="tns:dynamicSessionQueryHistoryDynamicServiceDescriptor"></part>
</message>
<message name="dynamicSessionQueryHistoryDynamicServiceDescriptorResponse">
<part name="parameters" element="tns:dynamicSessionQueryHistoryDynamicServiceDescriptorResponse"></part>
</message>
<portType name="webServiceApplicationFunction">
<operation name="startSession">
<input message="tns:startSession"></input>
<output message="tns:startSessionResponse"></output>
</operation>
<operation name="stopSession">
<input message="tns:stopSession"></input>
<output message="tns:stopSessionResponse"></output>
</operation>
<operation name="pauseSession">
<input message="tns:pauseSession"></input>
<output message="tns:pauseSessionResponse"></output>
</operation>
<operation name="resumeSession">
<input message="tns:resumeSession"></input>
<output message="tns:resumeSessionResponse"></output>
</operation>
<operation name="dynamicSessionQuery">
<input message="tns:dynamicSessionQuery"></input>
<output message="tns:dynamicSessionQueryResponse"></output>
</operation>
<operation name="dynamicSessionQueryHistory">
<input message="tns:dynamicSessionQueryHistory"></input>
<output message="tns:dynamicSessionQueryHistoryResponse"></output>
</operation>
<operation name="startSessionDynamicServiceDescriptor">
<input message="tns:startSessionDynamicServiceDescriptor"></input>
<output message="tns:startSessionDynamicServiceDescriptorResponse"></output>
</operation>
<operation name="startSessionForBoDService">
<input message="tns:startSessionForBoDService"></input>
<output message="tns:startSessionForBoDServiceResponse"></output>
</operation>
<operation name="startSessionForCmtsId">
<input message="tns:startSessionForCmtsId"></input>
<output message="tns:startSessionForCmtsIdResponse"></output>
</operation>
<operation name="pauseSessionDynamicServiceDescriptor">
<input message="tns:pauseSessionDynamicServiceDescriptor"></input>
<output message="tns:pauseSessionDynamicServiceDescriptorResponse"></output>
</operation>
<operation name="resumeSessionDynamicServiceDescriptor">
<input message="tns:resumeSessionDynamicServiceDescriptor"></input>
<output message="tns:resumeSessionDynamicServiceDescriptorResponse"></output>
</operation>
<operation name="stopSessionDynamicServiceDescriptor">
<input message="tns:stopSessionDynamicServiceDescriptor"></input>
<output message="tns:stopSessionDynamicServiceDescriptorResponse"></output>
</operation>
<operation name="stopSessionForBoDService">
<input message="tns:stopSessionForBoDService"></input>
<output message="tns:stopSessionForBoDServiceResponse"></output>
</operation>
<operation name="stopSessionForCmtsId">
<input message="tns:stopSessionForCmtsId"></input>
<output message="tns:stopSessionForCmtsIdResponse"></output>
</operation>
<operation name="dynamicSessionQueryDynamicServiceDescriptor">
<input message="tns:dynamicSessionQueryDynamicServiceDescriptor"></input>
<output message="tns:dynamicSessionQueryDynamicServiceDescriptorResponse"></output>
</operation>
<operation name="dynamicSessionQueryHistoryDynamicServiceDescriptor">
<input message="tns:dynamicSessionQueryHistoryDynamicServiceDescriptor"></input>
<output message="tns:dynamicSessionQueryHistoryDynamicServiceDescriptorResponse"></output>
</operation>
</portType>
<binding name="webServiceApplicationFunctionPortBinding" type="tns:webServiceApplicationFunction">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="startSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="stopSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="pauseSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="resumeSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dynamicSessionQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dynamicSessionQueryHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startSessionDynamicServiceDescriptor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startSessionForBoDService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startSessionForCmtsId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="pauseSessionDynamicServiceDescriptor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="resumeSessionDynamicServiceDescriptor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="stopSessionDynamicServiceDescriptor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="stopSessionForBoDService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="stopSessionForCmtsId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dynamicSessionQueryDynamicServiceDescriptor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dynamicSessionQueryHistoryDynamicServiceDescriptor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="webServiceApplicationFunction">
<port name="webServiceApplicationFunctionPort" binding="tns:webServiceApplicationFunctionPortBinding">
<soap:address location="http://10.200.170.3:6969/webServiceApplicationFunction"></soap:address>
</port>
</service>
</definitions>